<h4> Activity Status </h4>
<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Score value:</strong>
  <%= @activity.score_value %>
</p>

<%= render 'assignment_actions' %>

<%= link_to 'Back', activities_path %>
<% if current_user.admin? %>
  <% link_to 'Edit', edit_activity_path(@activity) %>
<% end %>